.part-card-container {
	position: relative;
	background-color: white;
	display: inline-block;
	width: 300px;
	height: 450px;
	padding: 15px;
	box-shadow: 0px 0px 2px 2px rgb(179, 179, 179);
	border-radius: 5px;
	margin-right: 40px;
	margin-bottom: 40px;

	transition: 0.3s;
	transition-timing-function: ease-in-out;
}

.part-card-container:hover {
	box-shadow: 0px 0px 10px 2px rgb(49, 49, 49);
	cursor: pointer;
}

.part-name {
	text-align: center;
	font-family: "Inter";
	font-weight: 600;
	font-size: 19px;
	color: #2f3640;
}

.part-image {
	position: relative;
	width: 200px;
	height: 200px;

	background-size: cover;
	background-image: url("../../media/intelchip.png");
	background-position: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.feature-tags-container {
	margin-bottom: 20px;
}
.feature-tag {
	display: inline-block;
	margin-right: 10px;
	background-color: #0652dd;
	color: white;

	border-radius: 3px;
	padding: 5px 10px;
	font-family: "Inter";

	font-size: 13px;
}

.part-price {
	float: left;
	font-size: 23px;
	font-family: "Inter";
	color: #2f3640;
}

.part-rating {
	float: right;
}

.rating-count {
	text-align: right;
}

.select-button {
	position: absolute;
	background-color: #1774ff;
	padding: 6px;
	width: 90%;
	border-radius: 5px;
	bottom: 15px;
	color: white;
	border-style: none;
	font-family: "Maven Pro";
	font-size: 18px;
	font-weight: bold;
	transition: 0.3s;
}

.select-button:hover {
	cursor: pointer;
	background-color: #0246ad;
}

.selected-button {
	position: absolute;
	background-color: #002c6e;
	padding: 6px;
	width: 90%;
	border-radius: 5px;
	bottom: 15px;
	color: white;
	border-style: none;
	font-family: "Maven Pro";
	font-size: 18px;
	font-weight: bold;
	transition: 0.3s;
}

.fa-star {
	color: rgb(243, 227, 0);
}


@media only screen and (max-width: 1500px) {
	.part-card-container{
		width: 275px;
		height: 420px;
	}
  }