.part-card-container {
	position: relative;
	background-color: white;
	color: #2f3640;
	display: inline-block;
	min-width: 295px;
	min-height: 460px;
	padding: 15px;
	box-shadow: 0px 0px 2px 2px rgb(179, 179, 179);
	border-radius: 5px;

	transition: 0.3s;
	transition-timing-function: ease-in-out;
	border: 2px solid transparent;
	box-sizing: border-box;
}

.selected-part-card-container {
	position: relative;
	min-width: 295px;
	min-height: 460px;
	background-color: rgb(54, 54, 54);
	color: white;
	display: inline-block;

	padding: 15px;
	box-shadow: 0px 0px 2px 2px rgb(179, 179, 179);
	border-radius: 5px;

	transition: 0.3s;
	transition-timing-function: ease-in-out;

	border: 2px solid rgb(13, 90, 255);
	box-sizing: border-box;
}

.part-card-container:hover {
	box-shadow: 0px 0px 10px 2px rgb(49, 49, 49);
	cursor: pointer;
}

.part-card-wrapper {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	z-index: 3;
}

.part-card-mobile-wrapper {
	display: none;
}

.part-name {
	text-align: center;
	font-family: "Inter";
	font-weight: 600;
	font-size: 19px;
}

.part-image {
	position: relative;
	width: 200px;
	height: 200px;

	background-size: cover;
	background-image: url("../../media/intelchip.png");
	background-position: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.feature-tags-container {
	margin-bottom: 20px;
}
.feature-tag {
	display: inline-block;
	margin-right: 10px;
	background-color: #0652dd;
	color: white;

	border-radius: 3px;
	padding: 5px 10px;
	font-family: "Inter";

	font-size: 13px;
}

.part-price {
	float: left;
	font-size: 23px;
	font-family: "Inter";
}

.part-rating {
	float: right;
}

.rating-count {
	text-align: right;
}

.select-button {
	position: absolute;
	background-color: #1774ff;
	padding: 6px;
	width: 90%;
	border-radius: 5px;
	bottom: 15px;
	color: white;
	border-style: none;
	font-family: "Maven Pro";
	font-size: 18px;
	font-weight: bold;
	z-index: 4;
	transition: 0.3s;
}

.select-button:hover {
	cursor: pointer;
	background-color: #0246ad;
}

.selected-select-button {
	position: absolute;
	background-color: #002c6e;
	padding: 6px;
	width: 90%;
	border-radius: 5px;
	bottom: 15px;
	color: white;
	border-style: none;
	font-family: "Maven Pro";
	font-size: 18px;
	font-weight: bold;
	z-index: 4;
	transition: 0.3s;
}

.fa-star {
	color: rgb(243, 227, 0);
}

@media only screen and (max-width: 1770px) {
	.part-card-container {
		min-height: 390px;
	}

	.part-image {
		width: 150px;
		height: 150px;
	}

	.part-name {
		font-size: 17px;
	}
	.feature-tags-container {
		margin-bottom: 10px;
	}
	.feature-tag {
		padding: 3px 8px;
		font-size: 12px;
	}

	.part-price {
		font-size: 19px;
	}

	.selected-part-card-container {
	}
}

@media only screen and (max-width: 1750px) {
	.part-card-container {
		min-height: 390px;
	}

	.selected-part-card-container {
		min-height: 390px;
	}
}

@media only screen and (max-width: 1600px) {
	.part-card-container {
		min-height: 390px;
	}

	.selected-part-card-container {
		min-height: 390px;
	}
}

@media only screen and (max-width: 1530px) {
	.part-card-container {
		min-height: 390px;
	}

	.selected-part-card-container {
		min-height: 390px;
	}
}

@media only screen and (max-width: 1400px) {
	.part-card-container {
		min-height: 390px;
	}

	.seleceted-part-card-container {
		min-height: 390px;
	}

	.part-image {
		width: 130px;
		height: 130px;
	}
}

@media only screen and (max-width: 1328px) {
	.part-card-container {
		min-height: 380px;
	}

	.seleceted-part-card-container {
		min-height: 380px;
	}

	.part-image {
		width: 140px;
		height: 140px;
	}
}

@media only screen and (max-width: 1328px) {
	.part-card-container {
		min-height: 380px;
	}

	.seleceted-part-card-container {
		min-height: 380px;
	}
}

@media only screen and (max-width: 1230px) {
	.part-card-container {
		min-height: 380px;
	}

	.seleceted-part-card-container {
		min-height: 380px;
	}
}

@media only screen and (max-width: 428px) {
	.part-card-container {
		min-width: 120px;
		min-height: 290px;
	}

	.part-card-wrapper {
	}

	.part-name {
		font-size: 12px;
	}

	.part-image {
		width: 100px;
		height: 100px;
		margin-bottom: 15px;
	}

	.feature-tag {
		font-size: 8px !important;
	}

	.part-price {
		font-size: 12px;
	}
	.part-rating {
		margin-bottom: 0px;
	}

	.rating-stars {
		font-size: 10px;
	}
	.rating-count {
		font-size: 10px;
	}

	.select-button {
		font-size: 12px;
		padding: 4px;
	}

	.selected-select-button {
		font-size: 12px;
		padding: 4px;
	}

	.selected-part-card-container {
		min-width: 120px;
		min-height: 290px;
	}
}
