.part-selector-container {
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: 300px auto;
	overflow-y: hidden;
}

.left-side-container {
	position: relative;
	height: 100%;
	border-right: 1px solid gray;
}

.view-header {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(192, 192, 192);
	height: 75px;
}

.part-nav-container {
	position: absolute;
	background-color: white;
	width: 200px;
	height: 500px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	top: 50%;

	left: 50%;
	transform: translate(-50%, -50%);
}

.test-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 200px;
	background-color: blue;
}

.part-nav-link:hover {
	background-color: rgb(182, 182, 182);
	cursor: pointer;
}

.part-nav-link i {
	margin-right: 5px;
	font-size: 20px;
	border-radius: 50%;
	background-color: white;
}

.fa-check-circle {
	color: #2ecc71;

	background-color: white;
}

.view-cart-button {
	position: absolute;
	bottom: 10px;
	background-color: #2c3e50;
	color: white;
	border-style: none;
	width: 90%;
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	font-family: "Maven Pro";
	font-weight: 600;
}

.right-side {
	position: relative;

	display: grid;
	grid-template-rows: 75px auto;
	box-sizing: border-box;
	overflow-y: scroll;
}

.part-list-header {
	position: relative;
	box-sizing: border-box;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 1px solid gray;
	height: 75px;

	width: 100%;
}

.part-list-category {
	position: relative;
	font-family: "Maven Pro";
	font-weight: bold;
	font-size: 45px;
	color: #2c3e50;

	display: inline-block;
}

.part-search-bar {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;

	border-radius: 5px;
	font-family: "Inter";
	font-weight: 600;
	z-index: 5;
}

.part-search-bar span {
	margin-right: 15px;
	font-size: 20px;
}

.parts-list-container {
	position: relative;

	box-sizing: border-box;
	padding: 20px;
	overflow-y: scroll;
	justify-content: space-between;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	overflow-x: hidden;
	grid-gap: 20px;
}

@media only screen and (max-width: 1820px) {
	.parts-list-container {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

@media only screen and (max-width: 1600px) {
	.part-selector-container {
		position: relative;
		height: 100%;
		display: grid;
		grid-template-columns: 250px auto;
	}
	.part-nav-container {
		position: absolute;
		background-color: white;
		width: 75%;
		height: 500px;
		padding: 10px;
		border: 1px solid black;
		border-radius: 5px;
		top: 50%;

		left: 50%;
		transform: translate(-50%, -50%);
	}

	.part-list-header {
		height: 60px;
	}

	.part-list-category {
		font-size: 35px;
	}
}

@media only screen and (max-width: 1328px) {
	.parts-list-container {
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}
}

@media screen and (min-width: 1231px) {
	.mobile-part-nav-wrapper {
		display: none;
	}
}

@media only screen and (max-width: 1230px) {
	.parts-list-container {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}

	.left-side-container {
		display: none;
	}

	.part-selector-container {
		grid-template-columns: auto;
	}

	.main-nav-bar-container {
		display: none !important;
	}

	.mobile-part-nav-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 100%;
		width: 100%;
		background-color: rgba(77, 77, 77, 0.356);
		z-index: 10;
	}

	.mobile-part-nav-container {
		position: absolute;
		width: 500px;
		height: 600px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		z-index: 5;
		background-color: white;
		padding: 10px;
		box-shadow: 0px 0px 1px 1px black;
	}

	.mobile-part-nav-container .part-nav-link {
		font-size: 25px;
		padding: 15px;
	}

	.mobile-part-nav-overlay {
		position: absolute;
		background-color: transparent;
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.mobile-part-nav-container {
		position: absolute;
		width: 250px;
		height: 500px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		z-index: 5;
		background-color: white;
		padding: 10px;
		box-shadow: 0px 0px 1px 1px black;
	}

	.mobile-part-nav-container .part-nav-link {
		font-size: 18px;
		padding: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.part-search-bar span {
		font-size: 12px;
	}
	.part-list-category {
		font-size: 25px;
	}
}

@media only screen and (max-width: 500px) {
	.part-list-category {
		font-size: 20px;
	}
}
@media only screen and (max-width: 428px) {
	.parts-list-container {
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}
}
