.checkout-page-container {
	position: relative;

	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 30px;
	overflow-y: hidden;
	max-width: 100vw;
}

.checkout-page-parts-list-container {
	position: relative;

	width: 75%;
	height: 100%;
	overflow-y: scroll;
	padding: 5px;
	box-sizing: border-box;
}

.checkout-page-parts-list-header {
	font-size: 30px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 20px;
}
.checkout-page-parts-list-wrapper {
}

.checkout-page-part-container {
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 2px 2px rgb(165, 165, 165);
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 20px;
	display: flex;
	transition: all 0.3s;
}

.checkout-page-part-container:hover {
	background-color: rgb(37, 37, 37);
	color: white !important;
	cursor: pointer;
}

.checkout-page-part-container:hover .checkout-page-part-name {
	color: white;
}

.checkout-page-part-container:hover .checkout-page-part-price {
	color: white;
}

.checkout-page-part-image-container {
	position: relative;

	width: 100px;
	height: 100px;
	display: inline-block;
}

.mobile-checkout-button {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: blue;
	box-sizing: border-box;
	padding: 10px;
	display: none;
	text-align: center;
	color: white;
}

.close-summary-button {
	position: absolute;
	top: 0px;
	background-color: purple;
	width: 100%;
	box-sizing: border-box;
	padding: 6px;
	left: 0px;
	text-align: center;
	display: none;
}

.checkout-page-part-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-family: "Inter";
	font-weight: 600;
}

.checkout-page-part-image {
	position: relative;

	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.checkout-page-part-name {
	margin-bottom: 20px;
	font-family: "Maven Pro";
	font-weight: bold;
	color: #2f3640;
	font-size: 22px;
	transition: all 0.3s;
}

.checkout-page-part-details-wrapper {
	position: relative;

	width: 400px;
	display: inline-block;
	margin-left: 30px;
}

.checkout-page-part-highlights-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: Inter;
}

.checkout-page-part-highlight {
	text-align: left;
	margin-bottom: 10px;
	min-width: 180px;
	float: left;
}

.checkout-page-part-price {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 22px;
	color: #2f3640;
	text-align: right;
	transition: all 0.3s;
}

.checkout-page-remove-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	box-shadow: 0px 0px 1px 1px rgb(168, 167, 167);
	color: red;
	background-color: white;
	padding: 4px 8px;
	border-radius: 2px;
	border-style: none;
}
.checkout-page-remove-button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 1px 2px rgb(168, 167, 167);
}

.checkout-page-summary-container {
	position: absolute;
	box-sizing: border-box;
	padding: 20px;
	width: 18%;
	right: 75px;
	top: 50%;
	transform: translateY(-50%);
	min-height: 650px;
	background-color: white;
	box-shadow: 0px 0px 2px 2px gray;
	border-radius: 3px;
}

.item-summary-header {
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 25px;
	color: #2f3640;
}

.item-summary-list {
}

.item-summary-item {
	margin-bottom: 10px;
	font-family: "Maven Pro";
	font-weight: 600;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
}
.summary-footer {
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	width: 100%;
	padding: 20px;

	box-sizing: border-box;
}

.checkout-button {
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-style: none;
	background-color: #2ecc71;
	color: white;
	padding: 10px 25px;
	font-size: 25px;
	font-family: "Maven Pro";
	font-weight: bold;
	transition: 0.3s;
}

.checkout-button:hover {
	background-color: #1ca053;
	cursor: pointer;
}

.summary-footer-total-and-count {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 600;
}

@media only screen and (max-width: 1230px) {
	.checkout-page-container {
	}
	.checkout-page-parts-list-container {
		width: 100%;
	}

	.checkout-page-parts-list-header {
		font-size: 20px;
	}

	.checkout-page-part-image-container {
		height: 100px;
	}

	.checkout-page-part-name {
		font-size: 12px;
	}

	.checkout-page-part-highlights-container {
		font-size: 11px;
	}

	.checkout-page-part-price {
		font-size: 12px;
	}

	.checkout-page-remove-button {
		font-size: 10px;
	}

	.checkout-page-part-container {
		position: relative;
	}

	.checkout-page-summary-container {
		position: absolute;
		padding: unset;
		width: 100%;

		top: unset;
		top: 100%;

		left: 0px;
		transform: unset;
		padding: 30px;
		transition: all 0.3s;
	}

	.mobile-checkout-button {
		display: inline-block;
	}

	.close-summary-button {
		position: absolute;
		top: 0px;
		display: inline-block;
	}
}

@media only screen and (max-width: 428px) {
	.checkout-page-parts-list-container {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 110%;
	}
	.checkout-page-part-name {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-size: 18px;
	}

	.checkout-page-part-price {
		font-size: 16px;
	}
	.checkout-page-part-image-container {
		width: 75px;
		height: 50px;
	}
	.checkout-page-part-highlights-container {
		display: none;
	}
}
