.checkout-page-container {
	position: relative;

	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 30px;
}

.checkout-page-parts-list-container {
	position: relative;

	width: 75%;
}

.checkout-page-parts-list-header {
	font-size: 30px;
	font-weight: bold;
}
.checkout-page-parts-list-wrapper {
	margin-top: 20px;
}

.checkout-page-part-container {
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 2px 2px rgb(165, 165, 165);
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 20px;
}

.checkout-page-part-image-container {
	position: relative;

	width: 100px;
	height: 100px;
	display: inline-block;

	float: left;
}

.checkout-page-part-image {
	position: relative;

	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.checkout-page-part-name {
	margin-bottom: 20px;
	font-family: "Maven Pro";
	font-weight: bold;
	color: #2f3640;
	font-size: 22px;
}

.checkout-page-part-details-wrapper {
	position: relative;

	width: 400px;
	display: inline-block;
	margin-left: 30px;
}

.checkout-page-part-highlights-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: Inter;
}

.checkout-page-part-highlight {
	text-align: left;
	margin-bottom: 10px;
	min-width: 180px;
	float: left;
}

.checkout-page-part-price {
	position: relative;
	height: 100%;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 22px;
	color: #2f3640;
	text-align: right;
	float: right;
}

.checkout-page-remove-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	box-shadow: 0px 0px 1px 1px rgb(168, 167, 167);
	color: red;
	background-color: white;
	padding: 4px 8px;
	border-radius: 2px;
	border-style: none;
}
.checkout-page-remove-button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 1px 2px rgb(168, 167, 167);
}

.checkout-page-summary-container {
	position: absolute;
	box-sizing: border-box;
	padding: 20px;
	width: 18%;
	right: 75px;
	top: 50%;
	transform: translateY(-50%);
	min-height: 650px;
	background-color: white;
	box-shadow: 0px 0px 2px 2px gray;
	border-radius: 3px;
}

.item-summary-header {
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 25px;
	color: #2f3640;
}

.item-summary-list {
}

.item-summary-item {
	margin-bottom: 10px;
	font-family: "Maven Pro";
	font-weight: 600;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
}
.summary-footer {
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	width: 100%;
	padding: 20px;

	box-sizing: border-box;
}

.checkout-button {
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-style: none;
	background-color: #2ecc71;
	color: white;
	padding: 10px 25px;
	font-size: 25px;
	font-family: "Maven Pro";
	font-weight: bold;
	transition: 0.3s;
}

.checkout-button:hover {
	background-color: #1ca053;
	cursor: pointer;
}

.summary-footer-total-and-count {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 600;
}

@media only screen and (max-width: 1230px) {
	.checkout-page-container {
	}
	.checkout-page-parts-list-container {
	}

	.checkout-page-parts-list-header {
		font-size: 20px;
	}
}
