.pc-builder-app-container {
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 8vh 92vh;
}

.main-nav-bar-container {
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	width: 100%;
}

.main-view-container {
	position: relative;
}

.main-nav-bar-wrapper {
	position: relative;

	width: 400px;

	display: flex;

	justify-content: space-between;
}

.main-nav-bar-button {
	display: inline-block;
	background-color: red;
	box-sizing: border-box;
	padding: 10px;
}

.nav-view-cart-button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.mobile-nav-bar-container {
	display: none;
}

.mobile-nav-bar-parts-button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	box-shadow: 0px 0px 2px 1px black;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 3px;
}

.mobile-nav-bar-parts-button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.mobile-nav-bar-menu-button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.mobile-nav-bar-menu-button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	box-shadow: 0px 0px 2px 1px black;
	width: 30px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	float: right;
	border-radius: 3px;
}

@media only screen and (max-width: 1230px) {
	.main-nav-bar-container {
		display: none;
	}

	.mobile-nav-bar-container {
		display: block;
		position: relative;
		padding: 20px;
		box-sizing: border-box;
		border-bottom: 1px solid gray;
		background-color: white;
	}

	.mobile-nav-bar-wrapper {
		position: absolute;
		background-color: white;
		height: 100%;
		width: 100%;
		left: 0px;
		top: 0px;
		padding: 20px;
		box-sizing: border-box;
	}
}
