.pc-builder-app-container {
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 8vh 92vh;
}

.main-nav-bar-container {
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	width: 100%;
}

.main-view-container {
	position: relative;
}

.main-nav-bar-wrapper {
	position: relative;

	width: 550px;

	display: flex;

	justify-content: space-between;
}

.main-nav-bar-button {
	position: relative;
	display: inline-block;
	font-family: "Inter";
	font-weight: bold;
	background-color: transparent;
	box-sizing: border-box;

	padding: 15px;
	transition: all 0.3s;
	border-radius: 3px;
}

.main-nav-bar-button:hover {
	cursor: pointer;
	background-color: #2f3640;
	color: white;
}

.nav-view-cart-button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #256aff;
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	border-style: none;
	border-radius: 3px;
	transition: all 0.3s;
}

.nav-view-cart-button:hover {
	cursor: pointer;
	background-color: #2f21f1;
}

.mobile-header-container {
	display: none;
}

.mobile-nav-bar-parts-button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	box-shadow: 0px 0px 2px 1px black;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 3px;
}

.mobile-nav-bar-parts-button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.mobile-nav-bar-menu-button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.mobile-nav-bar-menu-button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	box-shadow: 0px 0px 2px 1px black;
	width: 30px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	float: right;
	border-radius: 3px;
}

.mobile-nav-bar-wrapper {
	display: none;
}

@media only screen and (max-width: 1230px) {
	.main-nav-bar-container {
		display: none;
	}

	.mobile-header-container {
		display: block;
		position: relative;
		padding: 20px;
		box-sizing: border-box;
		border-bottom: 1px solid gray;
		background-color: white;
	}

	.logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.mobile-header-wrapper {
		position: absolute;
		background-color: white;
		height: 100%;
		width: 100%;
		left: 0px;
		top: 0px;
		padding: 20px;
		box-sizing: border-box;
	}

	.mobile-nav-bar-wrapper {
		display: inline-block;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: transparent;
		z-index: 6;
	}

	.mobile-nav-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.466);
	}

	.mobile-nav-links-container {
		position: absolute;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.mobile-nav-link {
		text-align: center;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: white;
		box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		font-family: "Inter";
		font-weight: bold;
		transition: 0.3s;
	}

	.mobile-nav-link-active {
		text-align: center;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #2c3e50;
		color: white;
		box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
		border-radius: 3px;
		font-family: "Inter";
		font-weight: bold;
		transition: 0.3s;
	}
}
