.pc-builder-app-container {
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 8vh 92vh;
}

.main-nav-bar-container {
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	width: 100%;
}

.main-view-container {
	position: relative;
}

.main-nav-bar-wrapper {
	position: relative;

	width: 400px;

	display: flex;

	justify-content: space-between;
}

.main-nav-bar-button {
	display: inline-block;
	background-color: red;
	box-sizing: border-box;
	padding: 10px;
}

.nav-view-cart-button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
