.pc-builder-app-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 1px auto;
}

.nav-bar-container {
	position: relative;

	width: 100%;
	height: 65px;
}

.main-view-container {
	position: relative;

	width: 100%;
	overflow: hidden;
}
