.pc-builder-app-container {
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 8vh 92vh;
}

.nav-bar-container {
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	width: 100%;
}

.main-view-container {
	position: relative;
}
