.part-modal-container {
	position: absolute;
	width: 900px;
	height: 550px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 2px rgb(155, 155, 155);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: grid;
	grid-template-columns: 30% 70%;
}

.part-modal-left-side {
	position: relative;
	box-sizing: border-box;
	font-family: "Maven Pro";
	border-right: 1px solid gray;
	padding: 15px;
	text-align: center;

	font-weight: bold;
	font-size: 25px;
}

.part-modal-image {
	position: absolute;
	height: 250px;
	width: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-position: center;
	background-size: cover;
}

.part-modal-select-button {
	position: absolute;

	color: white;
	font-family: "Inter";
	border-style: none;
	border-radius: 3px;
	padding: 10px 25px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	background-color: #1774ff;
	padding: 6px;
	width: 90%;
	border-radius: 5px;
}

.part-modal-right-side {
	position: relative;
	box-sizing: border-box;
	padding: 20px;

	height: 100%;
	overflow-y: scroll;
}

.close-part-modal-button {
	position: fixed;
	background-color: white;
	box-shadow: 0px 0px 1px 1px gray;
	color: red;
	border-style: none;
	border-radius: 50%;
	right: 30px;
	top: 10px;
	padding: 5px;
}

.part-modal-highlights-container {
	position: relative;
	max-width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap !important;
}

.part-modal-table-header {
	font-size: 30px;
	font-weight: bold;
	font-family: "Open Sans";
	margin-bottom: 30px;
}

.part-modal-highlight {
	position: relative;
	margin-bottom: 30px;
	margin-right: 20px;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 0px 2px 1px rgb(80, 80, 80);
	border-radius: 3px;
}

.highlight-value {
	background-color: rgb(0, 102, 255);
	color: white;
	padding: 3px 8px;
	border-radius: 5px;
	margin-left: 10px;
}

.part-modal-table {
	position: relative;
}
.part-modal-table-row {
	position: relative;
	background-color: rgb(255, 255, 255);
	height: 50px;
	box-shadow: 0px 0px 3px 1px gray;
	border-radius: 3px;
	font-size: 22px;
	margin-bottom: 15px;
}

.row-type {
	position: relative;
	display: inline-block;

	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	border-right: 1px solid black;
	font-weight: bold;
	color: rgb(43, 43, 43);
}

.row-type span {
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
}

.row-description {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 20px;
	height: 100%;
}
.row-description span {
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
}

.mobile-part-modal-container {
	display: none;
}

.mobile-part-modal-container .close-part-modal-button {
	position: absolute;
	padding: 20px;
}

@media only screen and (min-width: 1231px) {
	.part-modal-container {
		position: absolute !important;
		top: 50% !important;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 800px;
		height: 600px;

		bottom: unset;
	}
}

@media only screen and (max-width: 1230px) {
	.part-modal-container {
		position: absolute !important;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: red;
		top: unset;
		transform: unset;
	}
	.mobile-part-modal-container {
		position: relative;
		display: block;
		height: 100%;
		width: 100vw;
		background-color: white;
		overflow-y: scroll;
	}

	.mobile-part-modal-container::-webkit-scrollbar {
		width: 10px;
	}

	.mobile-part-modal-container {
	}

	.mobile-part-modal-container .part-modal-title {
		margin-top: 10px;
		text-align: center;
		font-size: 25px;
	}

	.mobile-part-modal-container .part-modal-price {
		text-align: center;
		font-size: 25px;
		margin-top: 10px;
	}

	.mobile-part-modal-container .part-modal-select-button {
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.mobile-part-modal-container .part-modal-image {
		position: relative;

		left: 50%;
		top: unset;
		transform: translateX(-50%);
		margin-top: 50px;
	}

	.mobile-part-modal-container .part-modal-highlight {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
	}

	.mobile-part-modal-container .part-modal-table-row {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		font-size: 18px;
	}

	.part-modal-left-side {
		display: none;
	}
	.part-modal-right-side {
		display: none;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
